In [ ]:
#1) Prepare a classification model using Naive Bayes 
#for salary data 
#Data Description:

#age -- age of a person
#workclass	-- A work class is a grouping of work 
#education	-- Education of an individuals	
#maritalstatus -- Marital status of an individulas	
#occupation	 -- occupation of an individuals
#relationship -- 	
#race --  Race of an Individual
#sex --  Gender of an Individual
#capitalgain --  profit received from the sale of an investment	
#capitalloss	-- A decrease in the value of a capital asset
#hoursperweek -- number of hours work per week	
#native -- Native of an individual
#Salary -- salary of an individual

In [2]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [4]:
salarytrain = pd.read_csv("C:\\Users\\Adiba\\Downloads\\SalaryData_Train.csv")
salarytrain.head(4)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [5]:
salarytest = pd.read_csv("C:\\Users\\Adiba\\Downloads\\SalaryData_Test.csv")
salarytest.head(4)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K

In [6]:
#check for null values in both the datasets
salarytest.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [7]:
salarytrain.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [8]:
#converting the string labels into numbers with the help of label encoding
string_columns=["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [9]:
from sklearn import preprocessing

In [10]:
le = preprocessing.LabelEncoder()

In [14]:
for i in string_columns:
    salarytrain[i] = le.fit_transform(salarytrain[i])
    salarytest[i] = le.fit_transform(salarytest[i])

In [19]:
colnames = salarytrain.columns
len(colnames[0:13])

13

In [20]:
trainX = salarytrain[colnames[0:13]]
trainY = salarytrain[colnames[13]]

In [21]:
testX  = salarytest[colnames[0:13]]
testY  = salarytest[colnames[13]]

In [22]:
ignb = GaussianNB() #Gaussianmodel
imnb = MultinomialNB() #multinomialmodel

In [23]:
# Building and predicting at the same time 

pred_gnb = ignb.fit(trainX,trainY).predict(testX) 
pred_mnb = imnb.fit(trainX,trainY).predict(testX)

In [24]:
# Confusion matrix GaussianNB model
confusion_matrix(testY,pred_gnb) # GaussianNB model
pd.crosstab(testY.values.flatten(),pred_gnb)
np.mean(pred_gnb==testY.values.flatten()) # 79.46%

0.7946879150066402

In [26]:
# Confusion matrix multinomialNB model
confusion_matrix(testY,pred_mnb) # multinomialNB model
pd.crosstab(testY.values.flatten(),pred_mnb) 
np.mean(pred_mnb==testY.values.flatten()) # 77.49%

0.7749667994687915